//-Главная страница сайта
//-include indexs/glavnaia_stranitsa


//-Новости сайта - Архив
//-include  indexs/novosty_saita/novosty_sainta_arhve

//- Новости сайта - Вид
//-include indexs/novosty_saita/novosty_saita_vid

//-Новости сайта - Страница материала и комментариев
//-include indexs/novosty_saita/novosty_saita_material _i_kommenty



//-Блог - Главная страница
//-include indexs/blog/blog_glavnaia_stranitsa

//-Блог - Страница материала и комментариев
//-include indexs/blog/blog_material_i_kommentarii

//-Блог - Вид Материалов
//-include indexs/blog/blog_vid_materialov

//-Блог - Архив
//-include indexs/blog/blog_arhive



//- Каталог файлов - Главная страница
//-include indexs/katalog_files/files_glavnaia_stranitsa

//- Каталог файлоа - Раздел материалов
//-include indexs/katalog_files/files_razdel

//-Каталог файлов - Категории материалов
//-include indexs/katalog_files/files_kategorii

//-Каталог файло - Страница материалов и комментариев к нему
//-include indexs/katalog_files/files_stranista_materiala_i_kommentov

//- Каталог файлов - Вид материалов
//-include indexs/katalog_files/files_vid_materialov



//- Комментарии - Вид комментариев
//-include indexs/kommentarii/kommentarii_vid

//- Комментарии - Форма добавления комментариев
//-include indexs/kommentarii/kommentarii_forma_dobavlenia



//- Каталог статей - Главная страница
//- include indexs/statyi/statyi_glavnaia_stranitsa

//- Каталог статей - Страница разделов статей
//- include indexs/statyi/statyi_razdel

//- Каталог статей - Страницы категорий
//-include indexs/statyi/statyi_kategorii

//- Каталог статей - Материал и комментарии
//-include indexs/statyi/statyi_material_i_kommentarii

//- Каталог статей - Вид материалов
//-include indexs/statyi/statyi_vid_materialov



//- Фотоальбом - Главная страница фотоальбома
//-include indexs/fotoalbom/foto_glavnaia

//-Фотоальбом - Страница Раздела
include indexs/fotoalbom/foto_razdel


