//-Главная страница сайта
//-include indexs/glavnaia_stranitsa

//-Новости сайта - Архив
//-include  indexs/novosty_saita/novosty_sainta_arhve

//- Новости сайта - Вид
//-include indexs/novosty_saita/novosty_saita_vid

//-Новости сайта - Страница материала и комментариев
//-include indexs/novosty_saita/novosty_saita_material _i_kommenty


//-Блог - Главная страница
//-include indexs/blog/blog_glavnaia_stranitsa

//-Блог - Страница материала и комментариев
//-include indexs/blog/blog_material_i_kommentarii

//-Блог - Вид Материалов
//-include indexs/blog/blog_vid_materialov

//-Блог - Архив
//-include indexs/blog/blog_arhive

//- Каталог файлов - Главная страница
include indexs/katalog_files/files_glavnaia_stranitsa
