article
    .hlebnie-kroshki
        a(href="$HOME_PAGE_LINK$") Главная
        span &nbsp; &raquo; &nbsp;
        a(href="$MODULE_URL$") Файлы
        span &nbsp; &raquo; &nbsp;
        span $SECTION_NAME$

        <?if($ADD_ENTRY_LINK$)?>
        span.dobavka
            a(href="$ADD_ENTRY_LINK$") Добавить материал
        <?endif?>
        hr
        span В разделе материалов:
            b $NUM_ENTRIES$
        <?if($NUM_SHOWN$)?>
        br
        span Показано материалов:
            b $NUM_SHOWN$
        <?endif?>

        <?if($PAGE_SELECTOR$)?>
        span.selector.
            Страницы: $PAGE_SELECTOR$
        <?endif?>
        hr
    .content
        //$BODY$

    <?if($PAGE_SELECTOR1$)?>
    div.center
        span $PAGE_SELECTOR1$
    <?endif?>