.vidjet-f {padding: 2px 10px;}
.vidjet-zaglovok-forum {
  font-size: 14pt;
  font-family: Book Antiqua, arial;
  font-weight: bold
}
.vidjet-user > a {font-size:12pt; font-family: Book Antiqua, arial;}