
.com-order-select {
  font-size: 12px;
}

.blok_kommentarii {
  padding: 3px;
  margin: 5px;
}

.cTop {
  text-align: left;
}

.comment_data {
  font-size: 7pt;
  unicode-bidi: embed;
}

.cMessage {
  text-align:left;
  clear:both;
  padding: 2px 0;
}

a.profil_url {
  padding-right:4px;
}

img.comment_ava {
  width:30px;
  border: 0;
  text-align: left;
}

.cAnswer {
  text-align: left;
  clear: both;
}

.komenti_otvet {
  clear:both;
  padding:4px 0;
  font-size:7pt;
}

.cBlock2 {
  background: #FFFADF;
  border: 1px solid #EBD98E;
  padding: 5px;
}


.cBlock1 {
  background: #FFFADF;
  border: 1px solid #EBD98E;
  margin-right: 5px;
  padding: 5px;
}

.komment_message {
  font-size: 14px;
}

.kament-otpiska {
  text-align: right;
  padding: 5px 0;
}

.uf-txt-input {
  height:135px;
}

.wysibb-body {
  border-image: 0;
  border: 1px;
  border-color: #000;
}