doctype html
html(lang='ru')
    head
    meta(charset='utf-8')
    link(rel='stylesheet' href='main.css')
    //<link rel="stylesheet" href="/_st/my.css">
    title $MODULE_NAME$ - $SITE_NAME$
    <?$META_DESCRIPTION$?>
    <?$META_KEYWORDS$?>
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    body
        //$ADMIN_BAR$
        .page-wrap

            //$GLOBAL_AHEADER$
            include ../../global/header/header
            //End Glogbal_Aheader

            .content-wrap
                include ../../content/statyi/content_statyi_glavnaia

        //$GLOBAL_CLEFTERCON$
        include ../../global/sidebar/sidebar-content
        //End Global Clefter

        //$GLOBAL_BFOOTER$
        include ../../global/footer
        //End Global_Bfooter