//<tr>
//<td class="forumIcoTd" align="center">
//<img alt="" style="margin:0;padding:0;vertical-align:middle;border:0;max-width:60px;max-height:60px;" src="<?if($NEW_MESSAGES$)?>$ICON_NEW$<?else?>$ICON_NONEW$<?endif?>" title="<?if($NEW_MESSAGES$)?><?if($PRIVATE$)?>Приватный форум. <?endif?>Есть новые сообщения<?else?><?if($PRIVATE$)?>Приватный форум. <?endif?>Нет новых сообщений<?endif?>">
//</td>
//<td class="forumNameTd">
//<a class="forum" href="$FORUM_URL$">$FORUM_TITLE$</a>
//<?if($ARCHIVE$)?><span class="forumArchive">[Архив]</span><?endif?>
//<?if($VIEWERS$)?><span class="forumViewed">(просматривают: $VIEWERS$)</span><?endif?>
//<div class="forumDescr">$FORUM_DESCRIPTION$</div>
//<?if($SUBFORUMS$)?><div class="subforumDescr">Подфорумы: $SUBFORUMS$</div><?endif?>
//<?if($FORUM_MODERS$)?><div class="forumModer">Модератор форума: $FORUM_MODERS$</div><?endif?>
//</td>
//<td class="forumThreadTd" align="center">$FORUM_THREADS$</td>
//<td class="forumPostTd" align="center">$FORUM_POSTS$</td>
//<td class="forumLastPostTd">
//<?if($FORUM_THREADS$)?>
//<script type="text/javascript">document.write('<a title="К последнему сообщению" class="forumLastPostLink" hr'+'ef="$LAST_POST_LINK$">$LAST_POST_DATE$</a>')</script>
//<script type="text/javascript">document.write('<a hr'+'ef="$FIRST_POST_LINK$"><img alt="" style="margin:0;padding:0;vertical-align:middle;border:0;max-width:60px;max-height:60px;" title="К первому непрочитанному сообщению" src="$FIRST_POST_ICON$" /></a>')</script>
//<br>Тема: <a class="forumLastPostLink" href="$LAST_POST_THREAD_LINK$">$LAST_POST_THREAD_NAME$</a>
//<br>Сообщение от: <span class="<?if($GUEST_MSG$)?>lastPostGuest<?else?>lastPostUser<?endif?>"><?if($LAST_POST_AUTHOR_PROFILE$)?>$LAST_POST_AUTHOR_PROFILE$<?else?>$LAST_POST_AUTHOR$<?endif?></span>
//<?else?>Нет сообщений<?endif?>
//</td>
//</tr>