article
    // <body>
    a(href='$HOME_PAGE_LINK$') Главная
    |  &nbsp;»&nbsp;
    a(href='$MODULE_URL$') Фотоальбом
    | &nbsp;»&nbsp;
    a(href='$SECTION_URL$') $SECTION_NAME$
    | &nbsp;»&nbsp;
    a(href='$CAT_URL$') $CAT_NAME$
    |  » $PHOTO_NAME$
    hr
    #u-photos
        .uphoto-entry
            h2.photo-etitle $PHOTO_NAME$
            .photo-edescr.center
                | $PHOTO_DESCR$
            .u-center
                .photo-block
                    .ph-wrap
                        span.photo-expand
                            | $PHOTO$
                            a.dd-tip.ulightbox(href='$FULL_PHOTO_DIRECT_URL$', target='_blank')
                                i.expand-ico
                                // <s10014>
                                | В реальном размере
                                // </s>
                                b $PHOTO_SIZE$
                                |  / $PHOTO_WEIGHT$Kb
                span(style='display: block;vertical-align: middle;margin: 10px 0;white-space: nowrap;') $MODER_PANEL$
        .photo-slider.u-center
            | $NEAR_PHOTOS$
    hr
    table(border='0', cellpadding='0', cellspacing='0', width='100%')
        tr
            td(width='60%', height='25')
                // <s5183>
                | Всего комментариев
                // </s>
                | :
                b $COM_NUM_ENTRIES$
            td(align='right', height='25') $COM_PAGE_SELECTOR$
        tr
            td(colspan='2') $COM_BODY$
        tr
            td(colspan='2', align='center') $COM_PAGE_SELECTOR1$
        tr
            td(colspan='2', height='10')
    | $COM_ADD_FORM$
    .commReg(align='center')
        // <s5237>
        | Добавлять комментарии могут только зарегистрированные пользователи.
        // </s>
        br
        a(href='$REGISTER_LINK$')
            // <s3089>
            | Регистрация
            // </s>
        |
        a(href='$LOGIN_LINK$')
            // <s3087>
            | Вход
            // </s>
    // </body>
