span.uphoto
    span.photo-title
        a(href='$PHOTO_URL$') $PHOTO_NAME$
    span.photo-block
        span.ph-wrap
            span.ph-tc $PHOTO$
            a.ph-link(href='$PHOTO_LIGHTBOX_URL$', data-url='$PHOTO_URL$', title='Размеры: $PHOTO_SIZE$, $PHOTO_WEIGHT$Kb')
                span.ph-tc
                    span.ph-data
                        span.ph-date $DATE$
                        span.ph-descr
                            | 120)?>
                            | ...
                            | $PHOTO_DESCR$
        span.ph-details.ph-js-details
            span(style='position: absolute;z-index: 100;left: 15px;white-space: nowrap;') $MODER_PANEL_RIGHT$
            a.phd-comments(href='$COMMENTS_URL$') $COMMENTS_NUM$
