article.article
    include glavnaia_articles/glavnaia_stranitsa_razdely_saita

article.article
    include glavnaia_articles/glavnaia_stranitsa_forum

article.article
    include glavnaia_articles/glavnaia_stranitsa_kriminalnoie_chtivo

article.article
    include glavnaia_articles/glavnaia_stranitsa_kommentarii

article.article
    include glavnaia_articles/glavnaia_stranitsa_break_pictures

article.article
    include glavnaia_articles/glavnaia_stranitsa_novosty