article
    .eBlock
        .eBlock__eTitle
            .zagolovok
                h1.zagolovok_razdely-glav Архив блога

            .cont_hlebnie-kroshki
                a(href='$MODULE_URL$') Главная
                span &raquo; $DATE_BAR$

        hr
        .content_blog-arhive
            //$BODY$