article.blog
    .zagolovok
        h2.zagolovok_razdely-glav Популярные категории и серии

    .telo-icon
        a(href='#' title='The International Bestseller')
            figure
                figcaption The International Bestseller
                img(src='/images/poet.jpg' alt='The Intrnational Bestseller')

        a(href='#' title='Лекарство от скуки')
            figure
                figcaption Лекарство от скуки
                img(src='/images/grange.jpg')

        a(href='#' title='Интеллектуальный детектив')
            figure
                figcaption Интеллектуальный детектив
                img(src='/images/sindrom.jpg')

        a(href='#' title='Интеллектуальный бестселлер')
            figure
                figcaption Интеллектуальный бестселлер
                img(src='/images/glamur.jpg')

        a(href='#' title='Книга-загадка, книга-бестселлер')
            figure
                figcaption Книга-загадка, книга-бестселлер
                img(src='/images/troianskii.jpg')

        a(href='#' title='Bestseller')
            figure
                figcaption Bestseller
                img(src='/images/ieronim_bosh.jpg')

        a(href='#' title='Не в формате')
            figure
                figcaption Не в формате
                img(src='/images/slutshai_portnogo.jpg')

        a(href='#' title='Маньяки')
            figure
                figcaption Маньяки
                img(src='/images/potroshiteli.jpg')

        a(href='#' title='Холод страха')
            figure.blog
                figcaption Холод страха
                img(src='/images/klub_seriinih_ubiits.jpg')

        a(href='#' title='/Интересное от российских авторов')
            figure
                figcaption Российские авторы
                img(src='/images/kapituliren.jpg')

        a(href='#' title='/Субъективные предпочтения')
            figure
                figcaption Субъективные предпочтения
                img(src='/images/vosemi_millionov.jpg')

        a(href='#' title='Спецслужбы и террористы')
            figure
                figcaption Спецслужбы и террористы
                img(src='/images/baldacci_do_poslednego.jpg')

        a(href='#' title='Криминальный детектив')
            figure
                figcaption Криминальный детектив
                img(src='/images/smerti_u_poroga.jpg')

        a(href='#' title='Русская фантастика')
            figure
                figcaption Русская фантастика
                img(src='/images/russkaia_krov.jpg')

        a(href='#' title='Фантастический боевик')
            figure
                figcaption Фантастический боевик
                img(src='/images/tshernie_sni.jpg')

        a(href='#' title='Зарубежная фантастика (издательство "Мир")')
            figure
                figcaption Заруб. фантастика (изд. Мир)
                img(src='/images/exp_na_zemlu.jpg')

        a(href='#' title='S.T.A.L.K.E.R.')
            figure
                figcaption S.T.A.L.K.E.R.
                img(src='/images/holodnaia_krov.jpg')

        a(href='#' title='Вадим Панов')
            figure
                figcaption Вадим Панов
                img(src='/images/panov.jpg')

        a(href='#' title='Гай Орловский')
            figure
                figcaption Гай Орловский
                img(src='/images/markiz.jpg')

        a(href='#' title='Непридуманное')
            figure
                figcaption Непридуманное
                img(src='/images/bodrov.jpg')

article.blog
    .zagolovok
        h2.zagolovok_razdely-glav Криминальное чтиво
        h3 Последние обновления

    div $BODY$
