.zagolovok
    h2.zagolovok_razdely-glav Разделы сайта

.telo-icon
    a(href='/load/2-1' title='Старые карты')
        figure
            figcaption Старые карты
            img(src='images/map_icon.jpg' alt='Старые карты')

    a(href='/news/1-0-1' title='Картины, рисунки')
        figure
            figcaption Картины, рисунки
            img(src='images/pictures_icon.jpg')

    a(href='/news/1-0-2' title='Фотографии')
        figure
            figcaption Фотографии
            img(src='images/foto_icon.jpg')

    a(href='/load/1' title='Книги')
        figure
            figcaption Книги
            img(src='/images/boock_icon.jpg')

    a(href='/publ/4' title='Открытие Земли')
        figure
            figcaption Открытие Земли
            img(src='images/geo_icon.jpg')

    a(href='/load/34' title='Раритет')
        figure
            figcaption Раритет
            img(src='images/raritet_icon.jpg')

    a(href='/load/23' title='Новый солдат')
        figure
            figcaption Новый солдат
            img(src='images/soldat_icon.jpg')

    a(href='/load/28' title='Жизнь Замечательных Людей')
        figure
            figcaption серия ЖЗЛ
            img(src='images/jzl_icon.jpg')

    a(href='/load/32' title='Библиотека приключений')
        figure
            figcaption Б-ка приключений
            img(src='images/mir_prikl_icon.jpg')

    a(href='/publ/2' title='Статьи')
        figure
            figcaption Статьи
            img(src='images//statii_icon.jpg')

    a(href='/load/36' title='Военно-историческая библиотека')
        figure
            figcaption Военно-историч. б-ка
            img(src='images/voiennaia_icon.jpg')

    a(href='/publ/12' title='Призраки прошлого')
        figure
            figcaption Призраки прошлого
            img(src='images/dnevnik.jpg')

    a(href='/load/33' title='Мир приключений')
        figure
            figcaption Мир приключений
            img(src='images/bibl_pikl_icon.jpg')

    a(href='/board/2' title='Break Pictures')
        figure
            figcaption Break Pictures
            img(src='images/Break-Pictures.jpg')

    a(href='/blog/' title='Криминальное чтиво')
        figure
            figcaption Криминальное чтиво
            img(src='images/krim_icon.jpg')